*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EFEFEF;
    border-radius: 15px;
}

form{
    display: flex;
    flex-direction: column;
}

input{
    margin: 10px 10px 5px 0px;
}